* {
  background-color: aliceblue;
  /*border: 1px solid black;*/ }

#pageContainer {
  margin: 0 auto;
  height: 1000px;
  width: 1000px; }

#header {
  	/*! 
   * Flow - A Fully Fluid Responsive Grid System
   * Created by Isaac Gray
   *
   * Generate a grid at http://flow.gs
   */ }
  #header #leaderB {
    height: 100px; }
    #header #leaderB #leaderAd {
      height: 90px;
      width: 720px;
      border: solid 1px black;
      margin: 0 auto; }
  #header #titleBox {
    height: 200px; }
    #header #titleBox #title h1 {
      text-align: center;
      font-size: 5em; }
  #header .section {
    clear: both;
    padding: 0;
    margin: 0;
    margin-left: -0.5em; }
  #header .col {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    /* Supported by IE 8+. If IE 7 and below support is required see http://html5please.com/#box-sizing */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-clip: padding-box;
    /* This allows column elements to have background colour without it bleeding into the gutter. Supported by IE 9+. If support for IE 8 and below is required, a content div with background colour should be placed inside the column */
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    margin: 0 0 0.5em 0;
    border-left: 0.5em solid transparent; }
  #header .group:before,
  #header .group:after {
    content: "";
    display: table; }
  #header .group:after {
    clear: both; }
  @media only screen and (min-width: 480px) {
    #header .col {
      width: auto; }
    #header .s1 {
      width: 33.33%;
      height: 300px; }
      #header .s1 #astroCat img {
        height: 300px;
        width: 300px;
        opacity: .8; }
    #header .s2 {
      width: 33.33%;
      height: 300px;
      text-align: center; }
      #header .s2 img {
        height: 200px; }
    #header .s3 {
      width: 33.33%;
      height: 300px;
      text-align: center;
      			/*! 
       * Flow - A Fully Fluid Responsive Grid System
       * Created by Isaac Gray
       *
       * Generate a grid at http://flow.gs
       */ }
      #header .s3 .section {
        clear: both;
        padding: 0;
        margin: 0;
        margin-left: -0.5em; }
      #header .s3 .col {
        display: block;
        float: left;
        width: 100%;
        box-sizing: border-box;
        /* Supported by IE 8+. If IE 7 and below support is required see http://html5please.com/#box-sizing */
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-clip: padding-box;
        /* This allows column elements to have background colour without it bleeding into the gutter. Supported by IE 9+. If support for IE 8 and below is required, a content div with background colour should be placed inside the column */
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        margin: 0 0 0.5em 0;
        border-left: 0.5em solid transparent; }
      #header .s3 .group:before,
      #header .s3 .group:after {
        content: "";
        display: table; }
      #header .s3 .group:after {
        clear: both; } }
  @media only screen and (min-width: 480px) and (min-width: 480px) {
    #header .s3 .col {
      width: auto; }
    #header .s3 .s1 {
      width: 33.33%;
      height: 100px; }
      #header .s3 .s1 img {
        height: 100px; }
    #header .s3 .s2 {
      width: 33.33%;
      height: 100px; }
      #header .s3 .s2 img {
        height: 100px; }
    #header .s3 .s3 {
      width: 33.33%;
      height: 100px; }
      #header .s3 .s3 img {
        height: 100px; } }

#middle {
  height: 400px;
  text-align: center; }
  #middle #about h3 {
    font-size: 2.0em; }
  #middle #about p {
    font-size: 1.25em; }

#threeCol {
  	/*! 
   * Flow - A Fully Fluid Responsive Grid System
   * Created by Isaac Gray
   *
   * Generate a grid at http://flow.gs
   */ }
  #threeCol .section {
    clear: both;
    padding: 0;
    margin: 0;
    margin-left: -0.5em; }
  #threeCol .col {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    /* Supported by IE 8+. If IE 7 and below support is required see http://html5please.com/#box-sizing */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-clip: padding-box;
    /* This allows column elements to have background colour without it bleeding into the gutter. Supported by IE 9+. If support for IE 8 and below is required, a content div with background colour should be placed inside the column */
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    margin: 0 0 0.5em 0;
    border-left: 0.5em solid transparent; }
  #threeCol .group:before,
  #threeCol .group:after {
    content: "";
    display: table; }
  #threeCol .group:after {
    clear: both; }
  @media only screen and (min-width: 480px) {
    #threeCol .col {
      width: auto; }
    #threeCol .s1 {
      width: 33.33%;
      height: 600px; }
    #threeCol .s2 {
      width: 33.33%;
      height: 600px; }
    #threeCol .s3 {
      width: 33.33%;
      height: 600px;
      border: 1px solid black; } }

#nextSection {
  height: 800px; }

#footer {
  height: 400px; }
  #footer #footerAd {
    height: 90px;
    width: 720px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px; }

/*# sourceMappingURL=styles.css.map */
